@import "./variables.scss";

.root-container {
	background-color: $cWhite;
	color: $cText;
	width: 100%;
}
.nav_container {
	box-sizing: border-box;
	display: flex;
	position: fixed;
	z-index: 11;
	background-color: $cWhite;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 5rem;

	& > div {
		flex: 1;
		// flex-grow: 0;
	}

	.nav-link-contain {
		display: flex;
		align-items: center;

		.nav-link {
			width: fit-content;
			padding: 0.3rem 0.9rem 1rem 0.9rem;
			font-size: 16px;
			line-height: 120%;
			text-transform: uppercase;
			& > a {
				color: $cText;
				text-decoration: none;
			}

			&.active {
				border-bottom: 1px solid green;
				font-weight: 600;
				& > a {
					color: $cPrimary;
				}
			}
		}
	}
	.logo-contain {
		text-align: center;
	}
	.nav_end-action {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		height: 100%;

		.dropdown {
			position: absolute;
			top: 0;
			right: -25px;
		}

		span {
			cursor: pointer;
		}
		span:last-child {
			margin-left: 1rem;
			position: relative;

			img {
				position: relative;
				z-index: 2;
			}

			& > span {
				position: absolute;
				top: -10px;
				right: -13px;
				background: $cText;
				color: $cWhite;
				z-index: 1;
				width: 20px;
				height: 20px;
				text-align: center;
				border-radius: 50%;
				line-height: 16px;
				font-size: 14px;
				font-weight: 700;
			}
		}
	}
}
.page_container {
	position: relative;
	width: 100%;

	.page_comp {
		padding: 0 5rem;
		padding-top: 10%;
	}
}
